body {
  padding-top: 4rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 700;

}
.styleinline {
  width: auto;
  height: 450px;
  border: 5px black solid;

}
